#donut-area1 svg, #donut-area2 svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#logo {
  height:50px;
}

.navbar-brand {
  height: 60px;
  padding: 5px 0px;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 2px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #F1F3F3;
  stroke: #777;
  stroke-width: 3px;
}
  
.hover-line {
  stroke: #777;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}

#selections .col-md-4 {
  padding-top: 10px;
  padding-bottom: 10px;
}

#topics svg label {
  font-size: 20px;
}

#legend {
  font-size: 12px;
  overflow: hidden;
}

.legendwrap {
  float: left;
  width: 150px;
  height: 15px;
}

.box {
  float: left;
  height: 12px;
  width: 12px;
  margin-top: 2px;
  margin-right: 3px;
  border: 1px solid black;
  clear: both;
}

.tiermedizin {
  background-color: #A200B8;
}

.architektur {
  background-color: #F9FFC7;
}

.biologie {
  background-color: #FFB3AD;
}

.chemie {
  background-color: #87A9CC;
}

.geisteswissenschaften {
  background-color: #FF8E00;
}

.geowissenschaften {
  background-color: #B8B31A;
}

.informatik {
  background-color: #C7EBFF;
}

.maschinenbau {
  background-color: #2000FF;
}

.materialwissenschaft {
  background-color: #EB0A00;
}

.mathematik {
  background-color: #8F5A12;
}

.medizin {
  background-color: #1AB873;
}

.physik {
  background-color: #F0C7FF;
}

.sozialenswissenschaften {
  background-color: #ADFFDB;
}

.waermetechnik {
  background-color: #CDBD9B;
}
